.card a {
  text-decoration: none;
}

.card a:hover {
  background-color: lightgray;
}

.card-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-img {
  flex: 1 1 auto;
  text-align: center;
  overflow: hidden;
}

.card-img img {
  background-clip: border-box;
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease;
}

.card-img:hover img {
  transform: scale(1.1);
}

.card-footer {
  display: flex;
  justify-content: space-around;
}
