.swiper {
  position: relative;
}

.swiper-container {
  width: 90%;
  padding-bottom: 2rem;
}

.swiper-button-prev {
  left: -1rem;
}

.swiper-button-next {
  right: -1rem;
}

.swiper-slide {
  height: auto;
}

.swiper-pagination-fraction {
  bottom: 0;
}
