.card a {
  text-decoration: none;
}

.card a:hover {
  background-color: lightgray;
}

.card-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-img {
  flex: 1 1 auto;
  overflow: hidden;
}

.card-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.card-img:hover img {
  transform: scale(1.1);
}

.card-footer {
  display: flex;
  justify-content: space-around;
}
